[user]
    name = Alexander Garustovich
    email = yukigaru@gmail.com
[pull]
    rebase = true
[alias]
    s = status
    sh = show
    d = diff
    l = log --graph -20 --pretty='format:%C(bold blue)%h%Creset %s %C(bold blue)(%an)%Creset'
    b = branch --sort=-committerdate --format '%(color:bold green)%(refname:short) %(color:reset)%(contents:subject) %(color:bold blue)%(committername)'
    c = commit
    ch = checkout
    cl = clone
    f = fetch
    p = pull
    ps = push
    a = add
    cp = cherry-pick
    rb = rebase
    r = reset
    sm = submodule
[core]
    editor = nvim
[push]
    default = simple
