[user]
    name = Alexander Garustovich
    email = yukigaru@gmail.com
[pull]
    rebase = true
[alias]
    s = status
    sh = show
    d = diff
    l = log --graph -20 --pretty='format:%C(bold blue)%h%Creset %s %C(bold blue)(%an)%Creset'
    b = branch
    c = commit
    ch = checkout
    f = fetch
    p = pull
    ps = push
    a = add
    cp = cherry-pick
    rb = rebase
    r = reset
    sm = submodule
[core]
    editor = nvim
[merge]
    tool = meld
[push]
    default = simple
