[user]
    name = Alexander Garustovich
    email = yukigaru@gmail.com

[pull]
    rebase = true

[alias]
    s = status
    sh = show
    d = diff
    ds = diff --staged
    l = log --graph -20 --pretty=format:\"%Cgreen%ad%Creset %C(bold blue)%h%Creset %s %C(bold blue)(%an)%Creset\" --date=format:\"%d %b\"
    b = branch --sort=-committerdate --format \"%(color:bold green)%(refname:short): %(color:reset)%(committerdate:relative), %(color:bold blue)%(objectname:short)%(color:reset): %(contents:subject) %(color:bold blue)%(committername)\"
    c = commit -m
    ch = checkout
    cl = clone
    f = fetch --all
    p = pull
    ps = push
    a = add
    au = add -u
    cp = cherry-pick
    rb = rebase
    r = reset
    sm = submodule
    st = stash
    sta = stash apply
    bl = blame

[diff]
    context = 9

[core]
    editor = nvim

[submodule]
	recurse = true

[color]
    ui = true

[push]
    default = simple

[safe]
	directory = /home/agarustovich/.vim/bundle/coc.nvim
